<!DOCTYPE html>
<html>
    <head>
        <title>Thom's Astro blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Astro Blog</a></h1>
        </header>

        <article>
            <time>published: 27.010.2022, 15:49</time>
            <h2><a href="">My first post</a></h2>
            <p>Hey Abs</p>
        </article>

        <article>
            <time>published: 27.010.2022, 15:52</time>
            <h2><a href="">My second post</a></h2>
            <p>AI made a blog :)</p>
        </article>
    </body>
</html>
